MyPro.WebApi/appsettings.*.json
MyPro.Infrastructure/Migrations

# JetBrains Rider
.idea/
*.sln.iml

# 编译输出
bin/
obj/

# 用户特定文件
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet 包
*.nupkg
*.snupkg
.nuget/

# 依赖包
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider IDE 相关
.idea/
.idea_modules/
*.iml

# Visual Studio Code 相关
.vscode/

# MacOS 系统文件
.DS_Store

# Windows 系统文件
Thumbs.db
desktop.ini

# 环境配置文件
.env
appsettings.json

# Logs 和临时文件
logs/
*.log
